@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Poiret+One&family=Quicksand&display=swap');

body {
    margin: 0;
}

header {
    padding: 10%;
    font-family: 'Poiret One', cursive;
    text-align: center;
}

header > object {
    width: 250px;
}

header > .text> h1 {
    font-size: 250%;
    line-height: 105px;
    letter-spacing: 0.25em;
}

header > .text > h1 > span {
    font-family: 'Oswald', sans-serif;
    color: #D2B722;
    opacity: 0%;
    transition: opacity 1s;
}

header > .text > h2 {
    text-align: center;
}

header > .text > .division {
    margin: 10% 0 5% 0;
    height: 1px;
    width: 20%;
    background-color: #D2B722;
    transition: width 2.5s;
}

main {
    overflow-x: visible;
}

main > #caroussel {
    color: #D2B722;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    display: flex;
    overflow-x: scroll;
    padding: 0 20%;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

main > #caroussel::after {
    content: '';
    padding-right: 0.01mm; /* smallest size that is cross browser */
}

main > #caroussel::-webkit-scrollbar {
    display: none;
}

main > #caroussel > .citation {
    flex: 0 0 100%;
    margin-right: 50%;
}

main > .prieres {
    font-family: 'Quicksand', sans-serif;
}

main > .prieres > img {
    display: block;
    width: 100%;
}

main > .prieres > div {
    padding: 10%;
}

main > .prieres > #simeon, #bonhoeffer {
    background-color: #8f69f7;
    color: #ffffff;
}

footer {
    text-align: center;
    font-family: 'Poiret One';
    color: #ffffff;
    background-color: #D2B722;
    padding: 5%;
}

@media screen and (min-width: 1025px) {
    header {
        display: flex;
        padding: 0;
        position: relative;
    }

    header > object {
        width: 50%;
    }

    header > .text {
        padding: 10% 0;
    }
    main > #caroussel {
        background-color: #D2B722;
        color: #ffffff;
    }

    main > .prieres {
        display: flex;
    }

    main > .prieres > img {
        width: 40%;
    }
    
    main > .prieres > div {
        padding: 5%;
        width: 60%;
        font-size: large;
    }

    main > .prieres > div > h3 {
        margin-top: 10%;
    }
    
    main > .prieres > div > p {
        margin-bottom: 10%;
    }

    main > .img-en-premier > div {
        order: 2;
    }
}